InitialNote/main.pdf
InitialNote/main.log
InitialNote/main.out
InitialNote/main.synctex.gz
InitialNote/main.toc
InitialNote/main.aux
LZnote/main.pdf
LZnote/main.log
LZnote/main.out
LZnote/main.synctex.gz
LZnote/main.toc
LZnote/main.aux
*.aux*
*.log*
*.out*
*.synctex.gz*
*.toc*
